node_modules/
dist/
.env
.env.local
.DS_Store
coverage/
.clasp.json
.local-secrets.json
.fcm-service-account.json
.firebase-hosting-service-account.json
firebase-debug.log
.firebase/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
